.main-add{
  /* padding: 15px; */
  border: 2px solid rgb(206, 205, 205);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
}
header{
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}
.Head{
  font-size: 25px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 25px;
}
.form{
  border: 1.5px solid rgb(206, 206, 206);
  border-radius: 25px;
  margin: 5px;
  padding: 25px 50px;
  min-width: 50px;
  background-color: white;
}
.btn-select-mul{
  padding: 12px 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: transparent;
  background: #eaeaea;
  transition: background 0.1s;
  font-size: 16px;
  margin-top: 20px;
  width:100%;
}
.btn-select:focus{
background-color: red;
color: white;
}
.btn-select-mul.selected {
  background-color: red;
  color: white;
}


@media(max-width:768px){
  .img{
    width: 40%;
  }
  #sidebar-wrapper {
    width: 68px;
  }
  .search{
    width: 100%;
  }
  .btn-select{
    font-size:9px !important;
  }
  .content-section{
    padding-right: 1rem !important;
    padding-left: 5rem;
  }
  .load-content{
    padding-right: 1rem !important;
    padding-left: 5rem;
  }
  .content{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    gap: 20px;
    padding: 10px;
  }
  .form {
    border: 1.5px solid rgb(206, 206, 206);
    border-radius: 25px;
    margin: 5px;
    padding: 15px 35px;
    min-width: 50px;
    background-color: white;
}
}

@media (min-width: 768px) {
  #wrapper {
     padding-left: 250px;
  }
  
  #wrapper.toggled {
     padding-left: 0;
  }
  /* #sidebar-wrapper {
     width: 250px;
  } */
  #wrapper.toggled #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
  }
  #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;
  }

  /* @media(max-width:600px){
  
  }
  */
}